<?xml version="1.0" encoding="UTF-8"?>
<!--logback website reference：http://logback.qos.ch/manual/-->
<!-- The level of logging：TRACE < DEBUG < INFO < WARN < ERROR  -->
<configuration>
    <property name="logback.logdir" value="./logs"/>

    <!-- Output to console-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%green(%d{yyyy-MM-dd HH:mm:ss.SSS}) %magenta([%thread]) [trace_id:%X{traceId}] %highlight(%-5level) %cyan(%logger{36}) - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--Scroll to file reference：https://www.iteye.com/blog/aub-1103685-->
    <appender name="infoFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logback.logdir}/info.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--Maximum size of log file-->
            <maxFileSize>500mb</maxFileSize>
            <!--Log file retention days-->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [trace_id:%X{traceId}] %-5level %logger{36} : %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="warnFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>warn</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logback.logdir}/warn.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>500mb</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [trace_id:%X{traceId}] %-5level %logger{36} : %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <appender name="errorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>error</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logback.logdir}/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>500mb</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [trace_id:%X{traceId}] %-5level %logger{36} : %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="infoFile"/>
        <appender-ref ref="warnFile"/>
        <appender-ref ref="errorFile"/>
    </root>
</configuration>